Flask==0.10.1
Flask-Bcrypt==0.5.2
Flask-Login==0.2.10
Flask-SQLAlchemy==1.0
Flask-Script==0.6.7
Flask-Testing==0.4.1
Jinja2==2.7.2
MarkupSafe==0.19
Pygments==1.6
SQLAlchemy==0.9.3
Werkzeug==0.9.4
bpython==0.12
itsdangerous==0.23
py-bcrypt==0.4
wsgiref==0.1.2
